/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 1px solid grey;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing:border-box;
    max-width:100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html{
    height:100%;
    font-size: 62.5%;
}

body {
    width: 80%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size:1.6rem;
}
h1 {
    font-size:5rem;
    margin-bottom: 1%;
    font-family: 'Rubik', sans-serif;
}
}
h2, h3, h4, h5 {
    font-size: 3rem;
    margin-bottom: 1%;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 120%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header nav{
    padding:0.5%;
    width: 80%;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width:20%;
}

.navButton{
    width: 80%;
    display:flex;
    justify-content: space-evenly;
}

.top-content{
    width: 100%;
    height: 30%;
    padding:0.5%;
}

.top-img{
    width:100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.top-text{
    width:100%;
    height:50%;
    display:flex;
}

.top-text > .top-container-one{
    padding:0.5%
}

.top-text > .top-container-two{
    padding:0.5%
}

.all-boxes{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box{
    width: 100px;
    height: 100px;
    border: 0px solid purple;
    margin: 1%;
}

.boxes-row-one, .boxes-row-two{
    width:80%;
    display:flex;
    justify-content:space-between;
}

.boxes-row-one > div, .boxes-row-two > div{
    display:flex;
    align-items: center;
    justify-content: center;
}

#one{
    background-color: teal;
    color: #ffffff
}

#two{
    background-color: yellowgreen;
    color: white
}

#three{
    background-color: grey;
    color: white
}

#four{
    background-color: coral;
    color: white
}

#five{
    background-color: red;
    color: white
}

#six{
    background-color: green;
    color: white
}

#seven{
    background-color: fuchsia;
    color: white
}

#eight{
    background-color: violet;
    color: white
}

#nine{
    background-color: navy;
    color: white
}

#ten{
    background-color: lightblue;
    color: white
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer div{
    width:40%;
}

footer nav a {
    color: white;
    text-decoration: none;
}


@media(max-width: 800px) {
   
    }

@media(max-width: 500px) {
   
    }